$font-cinzel: 'Cinzel', serif;
$font-varela: 'Varela', sans-serif;
$font-roman: 'Times New Roman';
$pricing-content-color: #5f5f5f;
$button-red: #e30f0f;
$black-clr: black;
$white-clr: white;
$form-head-clr: #575757;
$form-border-clr: #a8a8a8;
$form-text-clr: #5c5c5c;
$pricing-bottom: #ececec;
$about-bg-clr: #ebe2db;
$about-font-color: #585858;
$topic-clr: #4a4a4a;
$service-do-bg: #1e1c1c;
$bradius-bg: #fb004b;
$trans-font-clr: #bbbaba;
$card-backround: #2b2b2b;
$card-font-clr: #e7e7e7;
$card-border-clr: #4d4d4d;
$card-font-pink: #e78c8c;
$icon-bg-clr: #f31412;
$portfolio-bg-clr: #000000;
$contact-font: #4a4848;
$contact-get-clr: #454343;
